# R specific gitignores
.Rprofile
.Rhistory
.Rprofile
__pycache__
.DS_Store
*.Rproj
.Rproj.user

## ignore filtered CLIF tables stored as Rdata
*.RData

#ignore source CLIF_ files 
clif_*.parquet
clif_*.csv
clif_*.fst

# output files
output/
output/final
output/intermediate
*.parquet

# ignore pdf reports and rendered html
*.pdf
*.html

# ai/venv
.serena
.venv

# shared files - get from box
shared/ 

# configs
hospital_provider_mapping.json

